<nav>
    <div>
        <a href="">Proof of Concept</a>
        <button @onclick="ToggleNavMenu">
            <span></span>
        </button>

        <div class="@_navMenuCssClass">
            <ul>
                <li>
                    <NavLink href="" Match="NavLinkMatch.All" @onclick="@ToggleNavMenu">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li>
                    <NavLink href="counter" @onclick="@ToggleNavMenu">
                        <span class="oi oi-plus"></span> Counter
                    </NavLink>
                </li>
                <li>
                    <NavLink href="fetchdata" @onclick="@ToggleNavMenu">
                        <span class="oi oi-rain"></span> Weather
                    </NavLink>
                </li>
                <li>
                    <NavLink href="form" @onclick="@ToggleNavMenu">
                        <span class="oi oi-comment-square"></span> Form
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool _collapseNavMenu = true;
    private string _navMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
